
/InterviewTestInvoiceAPI/.vs
/InterviewTestInvoiceAPI/InterviewTestInvoiceAPI/obj
InterviewTestInvoiceAPI/InterviewTestInvoiceAPI/appsettings.Development.json
InterviewTestInvoiceAPI/InterviewTestInvoiceAPI/appsettings.json
*.json
InterviewTestInvoiceAPI/InterviewTestInvoiceAPI/appsettings.Development.json
InterviewTestInvoiceAPI/InterviewTestInvoiceAPI/appsettings.json
*.json
